<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="d-flex w-100">
        <a class="navbar-brand me-auto">
            <span class="fw-bold" th:text="${currentUser.email}"></span>
            <span th:text="${' with roles: '}"></span>
            <span th:each="role, userRoleStat : ${currentUser.getRoles()}"
                  th:text="${userRoleStat.first ? role.name.substring(5) : ', ' + role.name.substring(5)}"></span>
        </a>
        <a href="/logout" class="btn btn-outline navbar-text ms-auto">Logout</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="d-flex align-items-start g-0">
            <div class="nav flex-column nav-pills me-0 col-md-2" id="admin-user" role="tablist"
                 aria-orientation="vertical">
                <button
                        th:classappend="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? 'active' : ''}"
                        sec:authorize="hasRole('ROLE_ADMIN')"
                        class="nav-link text-start" id="admin-info" data-bs-toggle="pill"
                        data-bs-target="#v-pills-admin"
                        type="button" role="tab" aria-controls="v-pills-admin" >Admin
                </button>
                <button
                        th:classappend="${#authorization.expression('hasRole(''ROLE_USER'') and not hasRole(''ROLE_ADMIN'')') ? 'active' : ''}"
                        sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')"
                        class="nav-link text-start" id="user-info" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                        type="button" role="tab" aria-controls="v-pills-user" >User
                </button>
            </div>

            <div class="col-md-10" style="background-color: #f6f5f5">

                <div class="tab-content" id="v-pills-tabContent">
                    <div sec:authorize="hasRole('ROLE_ADMIN')"
                         th:classappend="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? 'show active' : ''}"
                         class="tab-pane fade" id="v-pills-admin" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">

                        <div class="me-3 ms-3">
                            <h2 class="mt-2">Admin panel</h2>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item mt-2" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#users_table"
                                            type="button" role="tab" aria-controls="users_table" aria-selected="true">
                                        Users table
                                    </button>
                                </li>
                                <li class="nav-item mt-2" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#new_user"
                                            type="button" role="tab" aria-controls="new_user" aria-selected="false">New
                                        User
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="users_table" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="container-fluid md-4 p-2 border">
                                        <h4>All users</h4>
                                    </div>
                                    <div class="container-fluid border" style="background-color: white">
                                        <div class="table-responsive mt-3 ms-3 me-3">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : ${usersList}">
                                                    <th th:text="${user.id}">ID</th>
                                                    <th th:text="${user.name}">First Name</th>
                                                    <th th:text="${user.lastName}">Last Name</th>
                                                    <th th:text="${user.age}">Age</th>
                                                    <th th:text="${user.email}">Email</th>
                                                    <th> <span th:each="role, userRoleStat : ${user.getRoles()}"
                                                               th:text="${userRoleStat.first} ? ${role.name.substring(5)} : ', ' + ${role.name.substring(5)}"></span>
                                                    </th>
                                                    <td>
                                                        <button type="button" class="btn" style="background-color: #17a2b8; color: white"
                                                                data-bs-toggle="modal" th:value="'#edit' + ${user.id}"
                                                                th:data-bs-target="'#edit' + ${user.id}">
                                                            Edit
                                                        </button>

                                                        <!-- Modal edit-->

                                                        <div class="modal fade" th:id="'edit' + ${user.id}"
                                                             tabindex="-1"
                                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModal">
                                                                            Edit user</h5>
                                                                        <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="container-fluid md-4 p-2 border"
                                                                             style="background-color: white">
                                                                            <div class="container bg-white col-md-4">

                                                                                <form th:id="'edit_form' + ${user.id}" th:method="POST"
                                                                                      th:action="@{/admin/users/{id}(id = ${user.getId()})}">
                                                                                    <div class="form-group mt-1">
                                                                                        <label for="edit_modal_name"
                                                                                               class="form-label">First
                                                                                            Name</label>
                                                                                        <input name="name" type="text"
                                                                                               th:value="${user.name}"
                                                                                               class="form-control"
                                                                                               id="edit_modal_name"/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               th:for="${user.id} + 'edit_modal_lastName'">Last
                                                                                            name:</label>
                                                                                        <input name="lastName"
                                                                                               type="text"
                                                                                               th:value="${user.lastName}"
                                                                                               id="edit_modal_lastName"
                                                                                               class="form-control"/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="edit_modal_age">Age:</label>
                                                                                        <input name="age" type="number" min="0" max="200" required
                                                                                               th:value="${user.age}"
                                                                                               id="edit_modal_age"
                                                                                               class="form-control"/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="edit_modal_email">Email:</label>
                                                                                        <input name="email" type="text"
                                                                                               th:value="${user.email}"
                                                                                               id="edit_modal_email"
                                                                                               class="form-control"/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="edit_modal_email">Password:</label>
                                                                                        <input name="password" type="password"
                                                                                               id="edit_modal_password"
                                                                                               class="form-control"/>
                                                                                    </div>


                                                                                    <div class="form-group mt-1">
                                                                                        <label for="edit_roleSelect"
                                                                                               class="fw-bold text-center w-100">Role</label>
                                                                                        <select name="roles" class="form-control"
                                                                                                id="edit_roleSelect"
                                                                                                multiple>
                                                                                            <option th:each="role : ${allRoles}"
                                                                                                    th:text="${role.name}"></option>
                                                                                        </select>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>

                                                                            <button th:form="'edit_form' + ${user.id}" type="submit"
                                                                                    class="btn btn-danger">Edit
                                                                            </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Modal edit-->

                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger"
                                                                data-bs-toggle="modal" th:value="'#del' + ${user.id}"
                                                                th:data-bs-target="'#del' + ${user.id}">
                                                            Delete
                                                        </button>


                                                        <!--Modal Delete-->

                                                        <div class="modal fade" th:id="'del' + ${user.id}" tabindex="-1"
                                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            Delete user</h5>
                                                                        <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="container-fluid md-4 p-2 border"
                                                                             style="background-color: white">
                                                                            <div class="container bg-white col-md-4">
                                                                                <form>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="id">ID:</label>
                                                                                        <input type="text"
                                                                                               th:value="${user.id}"
                                                                                               id="id"
                                                                                               class="form-control"
                                                                                               readonly/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="name">First
                                                                                            name:</label>
                                                                                        <input type="text"
                                                                                               th:value="${user.name}"
                                                                                               id="modal_name"
                                                                                               class="form-control"
                                                                                               readonly/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="name">Last
                                                                                            name:</label>
                                                                                        <input type="text"
                                                                                               th:value="${user.lastName}"
                                                                                               id="modal_lastName"
                                                                                               class="form-control"
                                                                                               readonly/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="age">Age:</label>
                                                                                        <input type="text"
                                                                                               th:value="${user.age}"
                                                                                               id="modal_age"
                                                                                               class="form-control"
                                                                                               readonly/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label class="fw-bold text-center w-100"
                                                                                               for="age">Email:</label>
                                                                                        <input type="text"
                                                                                               th:value="${user.email}"
                                                                                               id="modal_email"
                                                                                               class="form-control"
                                                                                               readonly/>
                                                                                    </div>
                                                                                    <div class="form-group mt-1">
                                                                                        <label for="roleSelect"
                                                                                               class="fw-bold text-center w-100">Role</label>
                                                                                        <select class="form-control"
                                                                                                id="roleSelect"
                                                                                                multiple>
                                                                                            <option th:each="role : ${user.roles}"
                                                                                                    th:text="${role.name}"></option>
                                                                                        </select>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <form th:action="@{/admin/users/{id}/delete(id=${user.id})}"
                                                                              th:method="post">
                                                                            <button type="submit"
                                                                                    class="btn btn-danger">Delete
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--Modal Delete-->

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="new_user" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="container-fluid md-4 p-2 border" style="background-color: #f6f6f6">
                                        <h5>Add new user</h5>
                                    </div>

                                    <div class="container-fluid md-4 p-2 border" style="background-color: white">
                                        <div class="container bg-white col-md-3">
                                            <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
                                                <div class="form-group mt-1">
                                                    <label class="fw-bold text-center w-100" for="name">First
                                                        name:</label>
                                                    <input type="text" required th:field="*{name}" id="name"
                                                           class="form-control"/>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <label class="fw-bold text-center w-100" for="name">Last
                                                        name:</label>
                                                    <input type="text" required th:field="*{lastName}" id="last_name"
                                                           class="form-control"/>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <label class="fw-bold text-center w-100" for="age">Age:</label>
                                                    <input type="number" min="0" max="200" required  th:field="*{age}" id="age" class="form-control"/>

                                                </div>
                                                <div class="form-group mt-1">
                                                    <label class="fw-bold text-center w-100" for="email">Email:</label>
                                                    <input type="email" required th:field="*{email}" id="email"
                                                           class="form-control"/>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <label class="fw-bold text-center w-100"
                                                           for="password">Password:</label>
                                                    <input type="password" required th:field="*{password}" id="password"
                                                           class="form-control"/>
                                                </div>
                                                <div class="form-group mt-1">
                                                    <label class="form-label fw-bold text-center w-100" for="new_roleSelect">Role</label>
                                                    <select class="form-select form-control" id="new_roleSelect"
                                                            name="roles" multiple>
                                                        <option th:each="role : ${allRoles}"
                                                                th:text="${role.name}"></option>
                                                    </select>
                                                </div>


                                                <div class="mt-2">
                                                    <button type="submit"
                                                            class="btn btn-success d-grid gap-2 col-6 mx-auto">Add new
                                                        user
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')"
                         th:classappend="${#authorization.expression('hasRole(''ROLE_USER'') and not hasRole(''ROLE_ADMIN'')') ? 'show active' : ''}"
                         class="tab-pane fade " id="v-pills-user" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <div class="me-3 ms-3">
                            <h2 class="mt-2 ms-1">User information page</h2>
                            <div class="container-fluid md-4 p-2 border">
                                <h5 class="ms-2">About user</h5>
                            </div>
                            <div class="table-responsive">
                                <div class="container-fluid border" style="background-color: white">
                                    <div class="table-responsive ms-3 me-3 mt-3">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th th:text="${currentUser.id}">ID</th>
                                                <th th:text="${currentUser.name}">First Name</th>
                                                <th>Last Name</th>
                                                <th th:text="${currentUser.age}">Age</th>
                                                <th th:text="${currentUser.email}">Email</th>
                                                <th> <span th:each="role, userRoleStat : ${currentUser.getRoles()}"
                                                           th:text="${userRoleStat.first} ? ${role.name.substring(5)} : ', ' + ${role.name.substring(5)}"></span>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
